<div class="col s12">
    <div class="card" >
        <div class="card-content" id="nongovt-div">
          <span   class="card-title center-align">
            {{ "DASHBOARD_PASS_UPDATE_DELETE" | translate }}
          </span>
        </div>
        <form [formGroup]="searchFormGroup" materialize>
        <div class="card-action pt-0" style="min-height:500px;">
            <div class="row">
                <div class="input-field col s6">
                  <input id="name" type="text" class="validate" formControlName="name">
                  <label for="name">{{ "FORM_ASTHAI_NAME_LABEL" | translate }}</label>
                  <!-- <span *ngIf="!searchFormGroup.get('name').valid && searchFormGroup.get('name').touched">{{"PASS_NAME_VALIDATION_MSG" | translate}}</span> -->
                </div>
                <div class="input-field col s6">
                  <input id="contact" type="text" class="validate" formControlName="phone">
                  <label for="contact">{{ "FORM_ASTHAI_CONTACT_LABEL" | translate }}</label>
                  <!-- <span *ngIf="!searchFormGroup.get('phone').valid && searchFormGroup.get('phone').touched">{{"PASS_PHONE_VALIDATION_MSG" | translate}}</span> -->
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                  <label for="assignDate">{{ "FORM_ASTHAI_ASSIGN_DATE_LABEL" | translate }}</label>
                  <input materialize="pickadate" type="date" class="datepicker" formControlName="issueDate">
                  <!-- <span *ngIf="!searchFormGroup.get('issueDate').valid && searchFormGroup.get('issueDate').touched">{{"PASS_ISSUE_DATE_VALIDATION_MSG" | translate}}</span> -->
                </div>
                <div class="input-field col s6">
                  <input id="subjectNo" type="text" class="validate" formControlName="referenceNo">
                  <label for="subjectNo">{{ "FORM_ASTHAI_SUJECT_NO_LABEL" | translate }}</label>
                  <!-- <span *ngIf="!searchFormGroup.get('referenceNo').valid && searchFormGroup.get('referenceNo').touched">{{"PASS_REFERENCE_NUMBER_VALIDATION_MSG" | translate}}</span> -->
                </div>
                {{ passtype }}
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="validation-span" [style.display]="spanVisibleClass">{{ 'FORM_SEARCH_VALIDATION_MSG' | translate}}</span>
                    <button type="submit" class="btn nongovt-btn" (click)="onSubmit()" >{{ "FORM_ASTHAI_SEARCH_LABEL" | translate }}</button>
      
                    <button type="reset" class="btn nongovt-btn">{{ "FORM_ASTHAI_CANCEL_LABEL" | translate }}</button>
                  </div>
            </div>
            <ng-container *ngIf="passes != null && passes.length > 0">
            <div class="row search-row-div">
              <div class="col s12 search-header-div">
                <div class="col s1 left-cell">{{ "FORM_SR_NO_LABEL" | translate }}</div>
                <div class="col s1">{{ "FORM_ASTHAI_PAAS_NO_SHORTFORM_LABEL" | translate }}</div>
                <div class="col s2">{{ "FORM_ASTHAI_NAME_LABEL" | translate }}</div>
                <div class="col s2">{{ "FORM_ASTHAI_OFFICE_LABEL" | translate }}</div>
                <div class="col s2">{{ "FORM_ASTHAI_DESIGNATION_LABEL" | translate }}</div>
                <div class="col s2">{{ "FORM_ASTHAI_CONTACT_LABEL" | translate }}</div>
                <div class="col s2 right-cell">{{ "FORM_ACTION_LABEL" | translate }}</div>
              </div>
              <ng-container *ngFor="let p of passes; let i = index;">
                <div class="col s12 p-t-b-1">
                  <div class="col s1">{{ i+1 }}</div>
                  <div class="col s1">{{ p.passNo}}</div>
                  <div class="col s2">{{ p.name }}</div>
                  <div class="col s2">{{ p.office }}</div>
                  <div class="col s2">{{ p.designation }}</div>
                  <div class="col s2">{{ p.phone }}</div>
                  <div class="col s2  right-cell">
                    <a href="#!"><i class="tiny material-icons">visibility</i></a>
                    <a (click)="onUpdateBtnClick(p.id, p.passType)" ><i class="tiny material-icons">edit</i></a>
                    <a href="#!"><i class="tiny material-icons">delete</i></a>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div   class="card-action border-non">
            <!-- <div class="row">
                <div class="col s12">
                  <button type="submit" class="btn nongovt-btn" (click)="onSubmit()" >{{ "FORM_ASTHAI_STORE_PRINT_LABEL" | translate }}</button>
    
                  <button type="reset" class="btn nongovt-btn">{{ "FORM_ASTHAI_CANCEL_LABEL" | translate }}</button>
                </div>
            </div> -->
        </div>
      </form>
      </div>
</div>
