<div class="container" id="form-container">
    <div class="row z-depth-4" id="form-row">
    <div class="row valign-wrapper red form-header" id="main-header">
     <div class="col s12 center-align">
       {{"FORM_VAHAN_PATR_PRAMUKH_SACHIV_HEADING" | translate}}
     </div> 
    </div>
    <div class="row valign-wrapper red form-header" id="sub-header">
      <div class="col s12 center-align">
          {{ "FORM_VAHAN_PATR_PRAMUKH_SACHIV_SUBHEADING" | translate }}
      </div> 
    </div>
    <div class="row">
        <div class="input-field col s6">
          <input id="sr_no" type="text" class="validate">
          <label for="sr_no">{{ "FORM_ASTHAI_PAAS_NO_LABEL" | translate }}</label>
        </div>
        <div class="input-field col s6">
          <input id="pass_no" type="text" class="validate">
          <label for="pass_no">{{ "FORM_ASTHAI_SR_NO_LABEL" | translate }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label for="name">{{ "FORM_ASTHAI_NAME_LABEL" | translate }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="designation" type="text" class="validate">
          <label for="designation">{{ "FORM_ASTHAI_DESIGNATION_LABEL" | translate }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="office" type="text" class="validate">
          <label for="office">{{ "FORM_ASTHAI_OFFICE_LABEL" | translate }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
          <input id="vehicleNo" type="text" class="validate">
          <label for="vehicleNo">{{ "FORM_ASTHAI_VEHICLE_NO" | translate }}</label>
        </div>
        <div class="input-field col s6">
            <input id="vehicleNo" type="text" class="validate">
            <label for="vehicleNo">{{ "FORM_ASTHAI_VEHICLE_NO" | translate }}</label>
          </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="subject" type="text" class="validate">
          <label for="subject">{{ "FORM_ASTHAI_SUBJECT_LABEL" | translate }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="subject" type="text" class="validate">
          <label for="subject">{{ "FORM_ASTHAI_SUBJECT_LABEL" | translate }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
          <input id="assignDate" type="text" class="validate">
          <label for="assignDate">{{ "FORM_ASTHAI_ASSIGN_DATE_LABEL" | translate }}</label>
        </div>
        <div class="input-field col s6">
            <input id="subjectSR" type="text" class="validate">
            <label for="subjectSR">{{ "FORM_ASTHAI_SUJECT_NO_LABEL" | translate }}</label>
          </div>
    </div>
    <div class="row">
        <div class="col s4">
          <button class="btn">{{ "FORM_ASTHAI_STORE_PRINT_LABEL" | translate }}</button>
        </div>
        <div class="col s4">
          <button class="btn">{{ "FORM_ASTHAI_CANCEL_LABEL" | translate }}</button>
        </div>
        <div class="col s4">
          <button class="btn">{{ "FORM_ASTHAI_WITHDRAWL_LABEL" | translate }}</button>
        </div>
    </div>
  </div>
  </div>