<div class="row" id="side-nav-row">
    <div class="col s2 left-div blue">
        <div class="row side-nav fixed">
            <ul id="slide-out">
                <li class="nav-label">{{"MENU_TITLE" | translate}}</li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_NEW_PASS" | translate}}</a>
                    <ul>
                            <li>
                                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                                    <a href="#!">{{"DASHBOARD_SARKAARI_NIJI" | translate}}</a>
                                </li>
                                <li>
                                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                                    <a href="#!">{{"DASHBOARD_SEVANIVRAT_ADHIKARI" | translate}}</a>
                                </li>
                                <li>
                                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                                    <a href="#!">{{"DASHBOARD_GAIR_SARKARI" | translate}}</a>
                                </li>
                                <li>
                                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                                    <a href="#!">{{"DASHBOARD_ASTHAI_MAHA_MANTRI_NAVEEN_BHAWAN" | translate}}</a>
                                </li>
                                <li>
                                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                                    <a href="#!">{{"DASHBOARD_ASTHAI_MAHA_MANTRI_BAPU_BHAWAN" | translate}}</a>
                                </li>
                                <li>
                                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                                    <a href="#!">{{"DASHBOARD_ALP_AWADHI" | translate}}</a>
                                </li>
                    </ul>
                </li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_PASS_UPDATE_DELETE" | translate}}</a>
                </li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_VAAHAN_PASS" | translate}}</a>
                </li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_VAAHAN_PASS_UPDATE_DELETE" | translate}}</a>
                </li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_REPORT" | translate}}</a>
                </li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_ADMIN" | translate}}</a>
                </li>
                <!-- <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_SARKAARI_NIJI" | translate}}</a>
                </li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_SEVANIVRAT_ADHIKARI" | translate}}</a>
                </li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_GAIR_SARKARI" | translate}}</a>
                </li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_ASTHAI_MAHA_MANTRI_NAVEEN_BHAWAN" | translate}}</a>
                </li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_ASTHAI_MAHA_MANTRI_BAPU_BHAWAN" | translate}}</a>
                </li>
                <li>
                    <i class="tiny material-icons left menu-icon white-text">dashboard</i>
                    <a href="#!">{{"DASHBOARD_ALP_AWADHI" | translate}}</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="col s10 right-div">
        <div class="row content-header valign-wrapper">
            <div class="col s2 dashboard-div">
                {{"DASHBOARD" | translate}}
            </div>
            <div class="col s10">
            </div>
        </div>
        <div class="row">

            <!-- <app-form-for-alp-awadhi></app-form-for-alp-awadhi>
            
            <app-form-for-alpawadhi></app-form-for-alpawadhi>
            <app-asthayi-pravesh-patr></app-asthayi-pravesh-patr>
            <app-uttar-pradesh-sachivalaya></app-uttar-pradesh-sachivalaya>
            <app-pravesh-patr-sachivalaya></app-pravesh-patr-sachivalaya>
            <app-sachivalaya-asthayi-pravesh-patr></app-sachivalaya-asthayi-pravesh-patr>
            
            <app-vahan-pravesh-patr-sachivalaya-pramukh-sachiv></app-vahan-pravesh-patr-sachivalaya-pramukh-sachiv>
            <app-vahan-pravesh-patr-sachivalaya-vishesh-sachiv></app-vahan-pravesh-patr-sachivalaya-vishesh-sachiv>
            <app-vahan-pravesh-patr-sachivalaya-vibhagadhyaksh></app-vahan-pravesh-patr-sachivalaya-vibhagadhyaksh>
            <app-vahan-pravesh-patr-sachivalaya-nijigadi></app-vahan-pravesh-patr-sachivalaya-nijigadi>
            <app-vahan-pravesh-patr-sachivalaya-e></app-vahan-pravesh-patr-sachivalaya-e>
            <app-vaahan-pravesh-ptra></app-vaahan-pravesh-ptra> -->
        </div>
    </div>
</div>