<div class="row breadcrumb-row">
    <div class="container breadcrumb-container">
      <div class="breadcrumb flat">
        <ng-container *ngFor="let br of breadcrumbs$ | async; index as i;">
          <!-- <ng-container *ngIf=" br.label != 'Home12'"> -->
            <ng-container *ngIf="br.label != 'Home12'">
              <ng-container *ngIf=" br.label != '' && i != 0 else elseContent">
                <a [routerLink]="[br.url]">{{ br.label }} </a>
              </ng-container>
              <ng-template #elseContent>
                <ng-container *ngIf="i == 0">
                  <a [routerLink]="[br.url]">{{ br.label }}</a>
                </ng-container>
              </ng-template>
            </ng-container>
          <!-- </ng-container> -->
        </ng-container>
      </div>
    </div>
  </div>