<div   class="col s12">
    <div   class="card">
      <div   class="card-content" id="nongovt-div">
        <span   class="card-title center-align">
          {{ "FORM_UTTAR_PRADESH_SACHIVALAYA_HEADING" | translate }} <br/>
          {{ "FORM_UTTAR_PRADESH_SACHIVALAYA_SUBHEADING" | translate }}
        </span>
      </div>
      <form [formGroup]="bapuBhawanFormGroup" materialize>
      <div   class="card-action pt-0">
          <div class="row">
              <div class="input-field col s6">
                <input id="sr_no" type="text" class="validate" formControlName="id">
                <label for="sr_no">{{ "FORM_ASTHAI_SR_NO_LABEL" | translate }}</label>
                <span *ngIf="!bapuBhawanFormGroup.get('id').valid && bapuBhawanFormGroup.get('id').touched">{{"PASS_ID_VALIDATION_MSG" | translate}}</span>
              </div>
              <div class="input-field col s6">
                <input id="pass_no" type="text" class="validate" formControlName="passNo">
                <label for="pass_no">{{ "FORM_ASTHAI_PAAS_NO_LABEL" | translate }}</label>
                <span *ngIf="!bapuBhawanFormGroup.get('passNo').valid && bapuBhawanFormGroup.get('passNo').touched">{{"PASS_PASS_NO_VALIDATION_MSG" | translate}}</span>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
                <input id="name" type="text" class="validate" formControlName="name">
                <label for="name">{{ "FORM_ASTHAI_NAME_LABEL" | translate }}</label>
                <span *ngIf="!bapuBhawanFormGroup.get('name').valid && bapuBhawanFormGroup.get('name').touched">{{"PASS_NAME_VALIDATION_MSG" | translate}}</span>
              </div>
              <div class="input-field col s6">
                <input id="contact" type="text" class="validate" formControlName="phone">
                <label for="contact">{{ "FORM_ASTHAI_CONTACT_LABEL" | translate }}</label>
                <span *ngIf="!bapuBhawanFormGroup.get('phone').valid && bapuBhawanFormGroup.get('phone').touched">{{"PASS_PHONE_VALIDATION_MSG" | translate}}</span>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <input id="address" type="text" class="validate" formControlName="address1">
                <label for="address">{{ "FORM_ASTHAI_ADDRESS_LABEL" | translate }}</label>
                <span *ngIf="!bapuBhawanFormGroup.get('address1').valid && bapuBhawanFormGroup.get('address1').touched">{{"PASS_ADDRESS_VALIDATION_MSG" | translate}}</span>
              </div>
          </div>
          <!-- <div class="row">
              <div class="input-field col s12">
                <input id="contact" type="text" class="validate" formControlName="phone">
                <label for="contact">{{ "FORM_ASTHAI_CONTACT_LABEL" | translate }}</label>
                <span *ngIf="!bapuBhawanFormGroup.get('phone').valid && bapuBhawanFormGroup.get('phone').touched">{{"PASS_PHONE_VALIDATION_MSG" | translate}}</span>
              </div>
          </div> -->
          <div class="row">
              <div class="input-field col s6">
                <!-- <input id="subject" type="text" class="validate"> -->
                <label for="subject">{{ "FORM_ASTHAI_AWADHI_SE" | translate }}</label>
                <input materialize="pickadate" type="date" class="datepicker" formControlName="fromDate">
                <span *ngIf="!bapuBhawanFormGroup.get('fromDate').valid && bapuBhawanFormGroup.get('fromDate').touched">{{"PASS_FROM_DATE_VALIDATION_MSG" | translate}}</span>
              </div>
              <div class="input-field col s6">
                  <!-- <input id="subject" type="text" class="validate"> -->
                  <label for="subject">{{ "FORM_ASTHAI_AWADHI_TAK" | translate }}</label>
                  <input materialize="pickadate" type="date" class="datepicker" formControlName="toDate">
                  <span *ngIf="!bapuBhawanFormGroup.get('toDate').valid && bapuBhawanFormGroup.get('toDate').touched">{{"PASS_FROM_DATE_VALIDATION_MSG" | translate}}</span>
                </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
                <!-- <input id="subject" type="text" class="validate">
                <label for="subject">{{ "FORM_ASTHAI_SUBJECT_LABEL" | translate }}</label> -->
                <select name="selectedOption" materialize="material_select" formControlName="reference1" [materializeSelectOptions]="selectOptions">
                    <option value="-1" disabled selected>{{ 'FORM_ASTHAI_SUBJECT_LABEL' | translate}}</option>
                    <!-- <option *ngFor="let b of businesses" [value]="b.id">{{b.name}}</option> -->
                </select>
              </div>
              <div class="input-field col s6">
                <!-- <input id="subject" type="text" class="validate">
                <label for="subject">{{ "FORM_ASTHAI_SUBJECT_LABEL" | translate }}</label> -->
                <select name="selectedOption" materialize="material_select"  formControlName="reference2" [materializeSelectOptions]="selectOptions">
                    <option value="-1" disabled selected>{{ 'FORM_ASTHAI_SUBJECT_LABEL' | translate}}</option>
                    <!-- <option *ngFor="let b of businesses" [value]="b.id">{{b.name}}</option> -->
                </select>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
                <!-- <input id="assignDate" type="text" class="validate"> -->
                <label for="assignDate">{{ "FORM_ASTHAI_ASSIGN_DATE_LABEL" | translate }}</label>
                <input materialize="pickadate" type="date" class="datepicker" formControlName="issueDate">
                <span *ngIf="!bapuBhawanFormGroup.get('issueDate').valid && bapuBhawanFormGroup.get('issueDate').touched">{{"PASS_ISSUE_DATE_VALIDATION_MSG" | translate}}</span>
              </div>
              <div class="input-field col s6">
                  <input id="subjectNo" type="text" class="validate" formControlName="referenceNo" >
                  <label for="subjectNo">{{ "FORM_ASTHAI_SUJECT_NO_LABEL" | translate }}</label>
                  <span *ngIf="!bapuBhawanFormGroup.get('referenceNo').valid && bapuBhawanFormGroup.get('referenceNo').touched">{{"PASS_REFERENCE_NUMBER_VALIDATION_MSG" | translate}}</span>
                </div>
          </div>
      </div>
      <div   class="card-action border-non">
          <div class="row">
              <div class="col s12">
                <button type="submit" class="btn nongovt-btn" (click)="onSubmit()">{{ "FORM_ASTHAI_STORE_PRINT_LABEL" | translate }}</button>

                <button type="reset" class="btn nongovt-btn">{{ "FORM_ASTHAI_CANCEL_LABEL" | translate }}</button>
              </div>
          </div>
      </div>
      </form>
    </div>
  </div>